body{
    background-image: url('../imagenes/masc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: auto;
}

.head{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
}

.menu li ul{
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
}

.menu .opPrim{
    background-color: rgba(252, 252, 252, 0.9);
    padding: 10px 75px 10px 75px; 
    text-align: center;
    align-content: center;
    margin-left: 20px;
    width: 50%;
}

.opPrim .opciones {
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    padding: 0%;
    z-index: 10000;
}

.was{
    height: 30px;
}

.opPrim .opciones li{
    width: 100%;
}

.opPrim .opciones li a{
    color: black;
    width: 100%;
    padding: 15px 0;
}

.opciones li:hover a{
    background-color: black;
    color: white;
}

.opPrinMenu{
    display:none;
    color: white;
}

.head:hover{
    border: 1px solid yellow;
    background-color: white;
}

.head:hover .opPrinMenu{
    color: black;
}

.opPrim a{
    text-decoration: none;
    color: black;
    display: block;
    transition: all .2s ease;
}

.opPrim:hover{
    text-decoration: none;
    border: 2px solid rgba(255,215,0, 1);
    background-color: black;  
}

.opPrim:hover a{
    color: white;
}

.opPrim:hover .opciones{
    display: block;
}

.hamb_chk{
    display:none;
}

.swiper{
    padding: 20px 0 20px 0;
}

.swiper-slide{
    width: 300px;
    background-color: rgba(246, 246, 246, 1);
    box-shadow: 0 0 20px rgb(0,0,0,0.7);
    padding: 40px;
    text-align: center;
    flex-shrink: 1;
    flex-grow: 1;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
}

.icons i{
    font-size: 30px;
}

.icons img{
    width: 200px;  
}

.product-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.product-txt{
    flex-basis: 30%;
    text-align: left; 
}

.product-txt h2{
    font-size: 20px;
    text-transform: uppercase;
}

.product-txt span{
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.8px;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.product-img {
    flex-basis: 70%;
    text-align: right;
}

.product-img img{
    width: 150px;
    border: 1px solid white;
    padding: 2px;

}

.btn-1{
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    padding: 13px 35px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: rgba(255,215,0, 1);
}

@media (max-width:915px){
    body{
        align-content: center;
        align-self: center;
        margin: 0;
    }

    .head{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        padding:20px 0;
        z-index: 1000;
    }

    .menu{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0;
        background-color: yellow;
        display: none;
        z-index: 100;
        top: 70px;
    }

    .opPrim .opciones {
        width: 100%;
        top: 35px;
    }


    .swiper{
        padding: 0;
        width: 100%;
    }

    .swiper-slide{
        padding: 20px;
        z-index: 100;
        min-width: max-content;
    }

    .menu .opPrim{
        width: 100%;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    } 

    .opPrim .opciones li a{
        padding: 3px 0;
    }

    .opPrinMenu{
        display: block;
        font-size: 30px;
        cursor:pointer;
        border: 2px solid white;
        padding: 10px 10px;
        border-radius: 35%;
    }

    .icons img{
        width: 100px;  
    }

    .icons{
        width: 70%;
    }

    .product-txt{
        text-align: center;
    }

    .product-txt h2{
        font-size: 15px;
        width: 100%;
    }

    .product-txt span{
        font-size: 20px;
        width: 100%;
    }

    .product-content{
        flex-direction: column;
        width: 100%;
    }

    .btn-1{
        padding: 10px 15px;
        font-size: 10px;
    }

    .hamb_chk:checked + .menu{
        display: flex;
        position: fixed;
        z-index: 1000;
        align-items: center;  
        justify-content: space-around; 
    } 

}